includes:
	- vendor-bin/phpstan/vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	customRulesetUsed: false
	dynamicConstantNames:
		- WPCF7_USE_PIPE
	level: max
	bootstrapFiles:
		- tests/phpstan/bootstrap.php
	paths:
		- src/
		- views/
	scanDirectories:
		- wp-content/plugins/contact-form-7/
